Repository CodingTestStudy2/Daily_Morning_Coding_Test, pull requests merged in 2024-10, with the labels that each got.

#523 [권채린] Day06
  프로그래머스/lv1/권채린/추억 점수.cpp
  프로그래머스/lv2/권채린/귤 고르기.cpp
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: C/C++

#525 [이슬기] Day 71
  프로그래머스/lv1/이슬기/prg_추억 점수.py
  프로그래머스/lv1/이슬기/prg_카드뭉치.py
  프로그래머스/lv2/이슬기/prg_귤 고르기.py
  프로그래머스/lv2/이슬기/prg_예상대진표.py
  프로그래머스/lv3/이슬기/prg_가장 먼 노드.py
  프로그래머스/lv3/이슬기/prg_섬 연결하기.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Python

#524 [장정윤] Day 71
  프로그래머스/lv1/장정윤/추억 점수.py
  프로그래머스/lv2/장정윤/귤 고르기.py
  프로그래머스/lv3/장정윤/섬 연결하기.py
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Python

#522 [김원래] DAY71
  프로그래머스/lv1/김원래/추억 점수.cpp
  프로그래머스/lv2/김원래/귤고르기.cpp
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: C/C++

#520 [이하은] Day71
  프로그래머스/lv1/이하은/추억 점수.kt
  프로그래머스/lv2/이하은/귤 고르기.md
  프로그래머스/lv3/이하은/섬 연결하기.kt
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#519 [이재표] Day71
  프로그래머스/lv1/이재표/추억 점수.java
  프로그래머스/lv2/이재표/귤 고르기.java
  프로그래머스/lv3/이재표/섬 연결하기(2).java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#518 [최원준] Day 71
  프로그래머스/lv1/최원준/추억 점수2.py
  프로그래머스/lv2/최원준/귤 고르기2.py
  프로그래머스/lv3/최원준/섬 연결하기2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#532 [김원래] Day 72
  프로그래머스/lv1/김원래/명예의 전당 (1).cpp
  프로그래머스/lv2/김원래/연속 부분 수열 합의 개수.cpp
  프로그래머스/lv3/김원래/여행경로.cpp
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: C/C++

#531 [이슬기] Day 72
  프로그래머스/lv1/이슬기/prg_명예의 전당.py
  프로그래머스/lv2/이슬기/prg_연속 부분 수열.py
  프로그래머스/lv3/이슬기/prg_여행경로.py
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Python

#530 [장정윤] Day 72
  프로그래머스/lv1/장정윤/명예의 전당(1).py
  프로그래머스/lv2/장정윤/연속 부분 수열 합의 개수.py
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Python

#529 [이재표] Day72
  프로그래머스/lv1/이재표/명예의 전당 (1).java
  프로그래머스/lv2/이재표/연속 부분 수열 합의 개수.java
Labels: Lv2 성공, Lv1 성공, Lang: Java/Kotlin

#528 [이하은] Day72
  프로그래머스/lv1/이하은/명예의 전당(1).kt
  프로그래머스/lv2/이하은/연속 부분 수열 합의 개수.md
  프로그래머스/lv3/이하은/여행경로.kt
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#527 [이현섭] Day 72
  프로그래머스/lv1/leehandsub/명예의 전당 (1).kt
Labels: Lv1 성공, Lv2 실패, Lang: Java/Kotlin

#526 [최원준] Day 72
  프로그래머스/lv1/최원준/명예의 전당 (1)2.py
  프로그래머스/lv2/최원준/연속 부분 수열 합의 개수2.py
  프로그래머스/lv3/최원준/여행경로2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#536 [이재표] Day73
  프로그래머스/lv1/이재표/콜라 문제.java
  프로그래머스/lv2/이재표/괄호 회전하기.java
  프로그래머스/lv3/이재표/디스크 컨트롤러.java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#538 [김원래] DAY73
  프로그래머스/lv1/김원래/콜라문제.cpp
  프로그래머스/lv2/김원래/괄호 회전하기.cpp
  프로그래머스/lv3/김원래/디스크 컨트롤러.cpp
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: C/C++

#537 [이현섭] Day73
  프로그래머스/lv1/leehandsub/콜라 문제.cpp
  프로그래머스/lv2/이현섭/괄호 회전하기.cpp
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: C/C++

#534 [이슬기] Day 73
  프로그래머스/lv1/이슬기/prg_콜라 문제.py
  프로그래머스/lv2/이슬기/prg_괄호 회전하기.py
  프로그래머스/lv3/이슬기/prg_디스크 컨트롤러.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Python

#533 [최원준] Day 73
  프로그래머스/lv1/최원준/콜라 문제2.py
  프로그래머스/lv2/최원준/괄호 회전하기2.py
  프로그래머스/lv3/최원준/디스크 컨트롤러2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#544 [이하은] Day74
  프로그래머스/lv1/이하은/비밀지도.java
  프로그래머스/lv2/이하은/할인행사.kt
  프로그래머스/lv3/이하은/입국심사.kt
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#543 [김원래] DAY74
  프로그래머스/lv1/김원래/[1차] 비밀지도.cpp
  프로그래머스/lv2/김원래/할인행사.cpp
  프로그래머스/lv3/김원래/입국심사.cpp
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: C/C++

#542 [이현섭] Day74
  프로그래머스/lv1/leehandsub/[1차] 비밀지도.cpp
  프로그래머스/lv2/이현섭/할인 행사.cpp
  프로그래머스/lv3/이현섭/입국심사.cpp
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: C/C++

#541 [이재표] Day74
  프로그래머스/lv1/이재표/[1차] 비밀지도.java
  프로그래머스/lv2/이재표/할인 행사.java
  프로그래머스/lv3/이재표/입국심사.java
Labels: Lv2 성공, Lv1 성공, Lang: Java/Kotlin

#540 [최원준] Day 74
  프로그래머스/[1차] 비밀지도2.py
  프로그래머스/입국심사2.py
  프로그래머스/할인 행사2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Python, Lang: Java/Kotlin

#539 [이슬기] Day 74
  프로그래머스/lv1/이슬기/prg_[1차] 비밀 지도.py
  프로그래머스/lv2/이슬기/prg_할인행사.py
  프로그래머스/lv3/이슬기/prg_입국심사.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Python

#548 [이재표] Day75
  프로그래머스/lv1/이재표/문자열 내 마음대로 정렬하기.java
  프로그래머스/lv2/이재표/n^2 배열 자르기.java
Labels: Lv2 성공, Lv1 성공, Lang: Java/Kotlin

#547 [장정윤] Day 75
  프로그래머스/lv1/장정윤/문자열 내 마음대로 정렬하기.py
  프로그래머스/lv2/장정윤/n^2 배열 자르기.py
  프로그래머스/lv3/장정윤/연속 펄스 부분 수열의 합.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Python

#546 [이슬기] Day 75
  프로그래머스/lv1/이슬기/prg_문자열 내 마음대로 정렬하기.java
  프로그래머스/lv2/이슬기/prg_n^2 배열 자르기.java
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#545 [최원준] Day 75
  프로그래머스/lv1/최원준/[1차] 비밀지도2.py
  프로그래머스/lv1/최원준/문자열 내 마음대로 정렬하기2.py
  프로그래머스/lv2/최원준/n^2 배열 자르기2.py
  프로그래머스/lv2/최원준/할인 행사2.py
  프로그래머스/lv3/최원준/연속 펄스 부분 수열의 합2.py
  프로그래머스/lv3/최원준/입국심사2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Python, Lang: Java/Kotlin

#550 [권채린] Day 76
  프로그래머스/lv1/권채린/푸드 파이트 대회.cpp
  프로그래머스/lv2/권채린/행렬의 곱셈.cpp
Labels: Lv2 성공, Lv1 성공, Lang: C/C++

#556 [이하은] Day76
  프로그래머스/lv1/이하은/푸드 파이트 대회.kt
  프로그래머스/lv2/이하은/행렬의 곱셈.kt
  프로그래머스/lv3/이하은/경주로 건설.kt
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#555 [김원래] DAY76
  프로그래머스/lv1/김원래/푸드 파이트 대회.cpp
Labels: Lv1 성공, Lv3 실패, Lv2 실패, Lang: C/C++

#554 [장정윤] Day 76
  프로그래머스/lv1/장정윤/푸드 파이트 대회.py
  프로그래머스/lv2/행렬의 곱셈.py
  프로그래머스/lv3/장정윤/경주로 건설.py
Labels: Lv1 성공, Lv3 실패, Lv2 실패, Lang: Python

#552 [이슬기] Day 76
  프로그래머스/lv1/이슬기/prg_푸드 파이트 대회.java
  프로그래머스/lv2/이슬기/prg_행렬의 곱셈.java
  프로그래머스/lv3/이슬기/prg_경주로 건설.java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#551 [이현섭] Day 76
  프로그래머스/lv1/leehandsub/푸드 파이트 대회.kt
  프로그래머스/lv2/이현섭/행렬의 곱셈.cpp
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin, Lang: C/C++

#549 [최원준] Day 76
  프로그래머스/lv1/최원준/푸드 파이트 대회2.py
  프로그래머스/lv2/최원준/행렬의 곱셈2.py
  프로그래머스/lv3/최원준/경주로 건설2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Python, Lang: Java/Kotlin

#561 [이선영] Day77
  프로그래머스/lv1/이선영/두 개 뽑아서 더하기.java
  프로그래머스/lv2/이선영/H-Index.java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#563 [이하은] Day77
  프로그래머스/lv1/이하은/두 개 뽑아서 더하기.md
  프로그래머스/lv2/이하은/H-Index.md
Labels: Lv2 성공, Lv1 성공, Lang: Java/Kotlin

#562 [김원래] DAY77
  프로그래머스/lv1/김원래/두 개 뽑아서 더하기.cpp
  프로그래머스/lv2/김원래/H-Index.cpp
  프로그래머스/lv3/김원래/부대복귀.cpp
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: C/C++

#560 [이현섭] Day 77
  프로그래머스/lv1/leehandsub/두 개 뽑아서 더하기.cpp
  프로그래머스/lv2/이현섭/H-Index.cpp
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: C/C++

#559 [최원준] Day 77
  프로그래머스/lv1/최원준/두 개 뽑아서 더하기2.py
  프로그래머스/lv2/최원준/H-Index2.py
  프로그래머스/lv3/최원준/부대복귀2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Python, Lang: Java/Kotlin

#570 [김미래] Day78
  프로그래머스/lv2/김미래/의상.cpp
  프로그래머스/lv3/김미래/가장 긴 팰린드롬.cpp
Labels: Lv2 성공, Lv3 성공, Lang: C/C++

#569 [이현섭] Day78
  프로그래머스/lv1/leehandsub/K번째수.cpp
Labels: Lv1 성공, Lv2 실패, Lang: C/C++

#568 [이하은] Day78
  프로그래머스/lv1/이하은/K번째 수.kt
  프로그래머스/lv2/이하은/의상.md
  프로그래머스/lv3/이하은/가장 긴 팰린드롬.md
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#567 [김원래] DAY78
  프로그래머스/lv1/김원래/K번째수.cpp
  프로그래머스/lv3/김원래/가장 긴 팰린드롬.cpp
Labels: Lv3 성공, Lv1 성공, Lv2 실패, Lang: C/C++

#566 [이재표] Day78
  프로그래머스/lv1/이재표/K번째수.java
  프로그래머스/lv2/이재표/의상.java
  프로그래머스/lv3/이재표/가장 긴 팰린드롬(2).java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#565 [이슬기] Day 78
  프로그래머스/lv1/이슬기/prg_k번째수.java
  프로그래머스/lv2/이슬기/prg_의상.java
  프로그래머스/lv3/이슬기/prg_가장 긴 팰린드롬.java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#564 [최원준] Day 78
  프로그래머스/lv1/최원준/K번째수2.py
  프로그래머스/lv2/최원준/의상2.py
  프로그래머스/lv3/최원준/가장 긴 팰린드롬2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Python, Lang: Java/Kotlin

#572 [권채린] Day79
  프로그래머스/lv1/권채린/숫자 문자열과 영단어.cpp
  프로그래머스/lv2/권채린/기능 개발.cpp
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: C/C++

#573 [이선영] Day78
  프로그래머스/lv2/이선영/의상.java
  프로그래머스/lv3/이선영/가장 긴 팰린드롬.java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#571 [최원준] Day 79
  프로그래머스/기능개발2.py
  프로그래머스/숫자 문자열과 영단어2.py
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#577 [이현섭] Day80
  프로그래머스/lv1/leehandsub/가장 가까운 같은 글자.cpp
  프로그래머스/lv2/이현섭/[1차] 캐시.cpp
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: C/C++

#576 [이재표] Day80
  프로그래머스/lv1/이재표/가장 가까운 같은 글자.java
  프로그래머스/lv2/이재표/[1차] 캐시(2).java
  프로그래머스/lv3/이재표/다단계 칫솔 판매(2).java
Labels: Lv1 성공, Lang: Java/Kotlin

#575 [이슬기] Day 80
  프로그래머스/lv1/이슬기/prg_가장 가까운 같은 글자.java
  프로그래머스/lv2/이슬기/prg_[1차] 캐시.java
  프로그래머스/lv3/이슬기/prg_다단계 칫솔 판매.java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#574 [최원준] Day 80
  프로그래머스/lv1/최원준/가장 가까운 같은 글자2.py
  프로그래머스/lv1/최원준/숫자 문자열과 영단어2.py
  프로그래머스/lv2/최원준/[1차] 캐시2.py
  프로그래머스/lv2/최원준/기능개발2.py
  프로그래머스/lv3/최원준/다단계 칫솔 판매2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Python, Lang: Java/Kotlin

#584 [권채린] Day 81
  프로그래머스/lv1/권채린/시저 암호.cpp
  프로그래머스/lv2/권채린/튜플.cpp
Labels: Lv2 성공, Lv1 성공, Lang: C/C++

#583 [이선영] Day81
  프로그래머스/lv1/이선영/시저 암호.java
  프로그래머스/lv2/이선영/튜플.java
  프로그래머스/lv3/이선영/풍선 터트리기.java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#582 [이하은] Day81
  프로그래머스/lv1/이하은/시저 암호.kt
  프로그래머스/lv2/이하은/기능개발.kt
  프로그래머스/lv2/이하은/튜플.kt
Labels: Lv2 성공, Lv1 성공, Lang: Java/Kotlin

#581 [이하령] Day 81
  프로그래머스/lv1/이하령/시저암호.cpp
  프로그래머스/lv2/이하령/튜플.js
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: C/C++, Lang: JavaScript

#580 [이재표] Day81
  프로그래머스/lv1/이재표/시저 암호.java
  프로그래머스/lv2/이재표/튜플(2).java
  프로그래머스/lv3/이재표/풍선 터트리기.java
Labels: Lv2 성공, Lv1 성공, Lang: Java/Kotlin

#579 [최원준] Day 81
  프로그래머스/lv1/최원준/시저 암호2.py
  프로그래머스/lv2/최원준/튜플2.py
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#578 [이현섭] Day81
  프로그래머스/lv1/leehandsub/시저 암호.cpp
Labels: Lv1 성공, Lv2 실패, Lang: C/C++

#591 [이선영] Day82
  프로그래머스/lv1/이선영/최소직사각형.java
  프로그래머스/lv2/이선영/피로도.java
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#589 [이하령] Day82
  프로그래머스/lv1/이하령/최소직사각형.js
  프로그래머스/lv2/이하령/ 피로도.js
  프로그래머스/lv3/이하령/거스름돈.js
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: JavaScript

#587 [김원래] DAY82
  프로그래머스/lv1/김원래/최소직사각형.cpp
  프로그래머스/lv2/김원래/피로도.cpp
Labels: Lv3 실패, Lv2 실패, Lv1 실패

#586 [이재표] Day82
  프로그래머스/lv1/이재표/최소직사각형.java
  프로그래머스/lv2/이재표/피로도.java
  프로그래머스/lv3/이재표/거스름돈.java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#585 [최원준] Day 82
  프로그래머스/lv1/최원준/최소직사각형2.py
  프로그래머스/lv2/최원준/피로도2.py
  프로그래머스/lv3/최원준/거스름돈2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Python, Lang: Java/Kotlin

#598 [이하은] Day83
  프로그래머스/lv1/이하은/삼총사.kt
  프로그래머스/lv1/이하은/최소 직사각형.kt
  프로그래머스/lv2/이하은/프로세스.kt
  프로그래머스/lv2/이하은/피로도.kt
  프로그래머스/lv3/이하은/거스름돈.md
  프로그래머스/lv3/이하은/순위.kt
Labels: Lv1 성공, Lv3 실패, Lv2 실패, Lang: Java/Kotlin

#597 [신은혜] Day83
  프로그래머스/lv1/신은혜/삼총사.java
Labels: Lv1 성공, Lv3 실패, Lv2 실패, Lang: Java/Kotlin

#596 [최원준] Day 83
  프로그래머스/lv1/최원준/삼총사2.py
  프로그래머스/lv2/최원준/프로세스2.py
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#595 [이재표] Day83
  프로그래머스/lv1/이재표/삼총사.java
  프로그래머스/lv2/이재표/프로세스.java
Labels: Lv2 성공, Lv1 성공, Lang: Java/Kotlin

#594 [김원래] DAY83
  프로그래머스/lv1/김원래/삼총사.cpp
  프로그래머스/lv2/김원래/프로세스.cpp
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: C/C++

#593 [이현섭] Day 83
  프로그래머스/lv1/leehandsub/삼총사.cpp
  프로그래머스/lv2/이현섭/프로세스.cpp
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: C/C++

#592 [이슬기] Day 83
  프로그래머스/lv1/이슬기/prg_삼총사.java
  프로그래머스/lv2/이슬기/prg_프로세스.java
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#599 [이선영] Day83
  프로그래머스/lv1/이선영/삼총사.java
  프로그래머스/lv2/이선영/프로세스.java
  프로그래머스/lv3/이선영/거스름돈.java
  프로그래머스/lv3/이선영/순위.java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#603 [이하은] Day84
  프로그래머스/lv1/이하은/이상한 문자 만들기.kt
  프로그래머스/lv2/이하은/전화번호 목록.md
Labels: Lv2 성공, Lv1 성공, Lang: Java/Kotlin

#602 [한송훈] Day 84
  프로그래머스/lv1/한송훈/이상한_문자_만들기.py
  프로그래머스/lv2/한송훈/전화번호목록.py
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Python

#601 [이슬기] Day 84
  프로그래머스/lv1/이슬기/prg_이상한 문자 바꾸기.java
  프로그래머스/lv2/이슬기/prg_전화번호부.java
  프로그래머스/lv3/이슬기/prg_합승 택시 요금.java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#608 [이하은] Day85
  프로그래머스/lv1/이하은/크기가 작은 부분 문자열.kt
  프로그래머스/lv2/이하은/뉴스 클러스터링.md
Labels: Lv1 성공, Lv2 실패, Lang: Java/Kotlin

#606 [한송훈] Day 85
  프로그래머스/lv1/한송훈/크기가_작은_부분_문자열.py
  프로그래머스/lv2/한송훈/뉴스_클러스터링.py
Labels: Lv2 성공, Lv1 성공, Lang: Python

#605 [이현섭] Day 85
  프로그래머스/lv1/leehandsub/크기가 작은 부분 문자열.cpp
Labels: Lv1 성공, Lv2 실패, Lang: C/C++

#604 [이슬기] Day 85
  프로그래머스/lv1/이슬기/prg_크기가 작은 부분 문자열.java
  프로그래머스/lv2/이슬기/prg_[1차] 뉴스 클러스터링.java
Labels: Lv2 성공, Lv1 성공, Lang: Java/Kotlin

#615 [이재표] Day86
  프로그래머스/lv1/이재표/3진법 뒤집기.java
  프로그래머스/lv2/이재표/타겟 넘버.java
  프로그래머스/lv3/이재표/순위.java
Labels: Lv2 성공, Lv1 성공, Lang: Java/Kotlin

#613 [이현섭] Day86
  프로그래머스/lv1/leehandsub/3진법 뒤집기.cpp
  프로그래머스/lv2/이현섭/타겟 넘버.cpp
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: C/C++

#612 [신은혜] Day86
  프로그래머스/lv1/신은혜/3진법뒤집기.java
  프로그래머스/lv2/신은혜/타겟넘버.java
  프로그래머스/lv2/신은혜/프로세스.java
  프로그래머스/lv3/신은혜/파괴되지 않은 건물.java
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#611 [한송훈] Day86
  프로그래머스/lv1/한송훈/3진법_뒤집기.py
  프로그래머스/lv2/한송훈/타겟_넘버.py
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Python

#610 [이하은] Day86
  프로그래머스/lv1/이하은/3진법 뒤집기.md
  프로그래머스/lv2/이하은/타겟 넘버.kt
  프로그래머스/lv3/이하은/파괴되지 않은 건물.kt
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#609 [최원준] Day 86
  프로그래머스/lv1/최원준/3진법 뒤집기2.py
  프로그래머스/lv2/최원준/타겟 넘버2.py
  프로그래머스/lv3/최원준/파괴되지 않은 건물2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Python, Lang: Java/Kotlin

#619 [신은혜] Day87
  프로그래머스/lv1/신은혜/예산.java
  프로그래머스/lv2/신은혜/[3차] n진수 게임.java
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#616 [이슬기] Day 87
  프로그래머스/lv1/이슬기/prg_3진법 뒤집기.java
  프로그래머스/lv1/이슬기/prg_예산.java
  프로그래머스/lv2/이슬기/prg_[3차] n진수 게임.java
  프로그래머스/lv2/이슬기/prg_타겟 넘버.java
  프로그래머스/lv3/이슬기/prg_파괴되지 않은 건물.java
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#626 [김현진] Day 88
  프로그래머스/lv1/김현진/같은 숫자는 싫어.cpp
  프로그래머스/lv2/김현진/k진수에서 소수 개수 구하기.cpp
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: C/C++

#624 [이재표] Day88
  프로그래머스/lv1/이재표/같은 숫자는 싫어.java
  프로그래머스/lv2/이재표/k진수에서 소수 개수 구하기(2).java
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#623 [이현섭] Day88
  프로그래머스/lv1/leehandsub/같은 숫자는 싫어.cpp
  프로그래머스/lv2/이현섭/k진수에서 소수 개수 구하기.cpp
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: C/C++

#622 [이슬기] Day88
  프로그래머스/lv1/이슬기/prg_같은 숫자는 싫어.java
  프로그래머스/lv2/이슬기/prg_k진수에서 소수의 개수 구하기.java
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#621 [신은혜] Day88
  프로그래머스/lv1/신은혜/같은 숫자는 싫어.java
  프로그래머스/lv2/신은혜/k진수에서 소수 개수 구하기.java
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#620 [이하은] Day88
  프로그래머스/lv1/이하은/같은 숫자는 싫어.java
  프로그래머스/lv1/이하은/예산.java
  프로그래머스/lv2/이하은/N진수 게임.java
  프로그래머스/lv2/이하은/k진수에서 소수 개수 구하기.kt
  프로그래머스/lv3/이하은/표 편집.kt
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#627 권채린 Day88
  프로그래머스/lv1/권채린/같은 숫자는 싫어.cpp
  프로그래머스/lv2/권채린/k진수에서 소수 개수 구하기.cpp
Labels: Lv2 성공, Lv1 성공, Lang: C/C++

#631 [이재표] Day89
  프로그래머스/lv1/이재표/직사각형 별찍기.java
  프로그래머스/lv2/이재표/롤케이크 자르기.java
  프로그래머스/lv3/이재표/길 찾기 게임.java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#629 [한송훈] Day89
  프로그래머스/lv1/한송훈/직사각형_별찍기.py
  프로그래머스/lv2/한송훈/롤케이크자르기.py
Labels: Lv2 성공, Lv1 성공, Lang: Python

#628 [최원준] Day89
  프로그래머스/lv1/최원준/같은 숫자는 싫어2.py
  프로그래머스/lv1/최원준/직사각형 별찍기2.py
  프로그래머스/lv2/최원준/k진수에서 소수 개수 구하기2.py
  프로그래머스/lv2/최원준/롤케이크 자르기2.py
  프로그래머스/lv3/최원준/길 찾기 게임2.py
  프로그래머스/lv3/최원준/표 편집2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Python, Lang: Java/Kotlin

#633 [김현진] Day90
  프로그래머스/lv1/김현진/행렬의 덧셈.cpp
  프로그래머스/lv2/김현진/땅따먹기.cpp
Labels: Lv2 성공, Lv1 성공, Lang: C/C++

#640 [이선영] Day91
  프로그래머스/lv1/이선영/문자열 다루기 기본.java
  프로그래머스/lv2/이선영/주식가격.java
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#639 [이하은] Day91
  프로그래머스/lv1/이하은/문자열 다루기.kt
  프로그래머스/lv1/이하은/행렬의 덧셈.kt
  프로그래머스/lv2/이하은/땅따먹기.md
  프로그래머스/lv2/이하은/주식가격.java
Labels: Lv2 성공, Lv1 성공, Lang: Java/Kotlin

#638 [김현진]Day91
  프로그래머스/lv1/김현진/문자열다루기기본.cpp
  프로그래머스/lv2/김현진/주식가격.cpp
  프로그래머스/lv3/김현진/양과늑대.cpp
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: C/C++

#637 [신은혜] Day91
  프로그래머스/lv1/신은혜/문자열 다루기 기본.java
  프로그래머스/lv2/신은혜/주식가격.java
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#636 [이슬기] Day 91
  프로그래머스/lv1/이슬기/prg_문자열 다루기 기본.java
  프로그래머스/lv2/이슬기/prg_주식가격.java
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#635 [이현섭] Day91
  프로그래머스/lv1/leehandsub/문자열 다루기 기본.cpp
  프로그래머스/lv2/이현섭/주식가격.cpp
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: C/C++

#634 [최원준] Day91
  프로그래머스/lv1/최원준/문자열 다루기 기본2.py
  프로그래머스/lv2/최원준/주식가격2.py
  프로그래머스/lv3/최원준/양과 늑대2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Python, Lang: Java/Kotlin

#646 [권채린] Day92
  프로그래머스/lv1/권채린/부족한 금액 계산하기.cpp
  프로그래머스/lv2/권채린/더 맵게.cpp
Labels: Lv2 성공, Lv1 성공, Lang: C/C++

#647 [신은혜] Day92
  프로그래머스/lv1/신은혜/부족한 금액 계산하기.java
  프로그래머스/lv2/신은혜/더 맵게.java
Labels: Lv2 성공, Lv1 성공, Lang: Java/Kotlin

#645 [오하늘] Day92
  프로그래머스/lv1/오하늘/부족한 금액 계산하기.py
  프로그래머스/lv2/오하늘/더 맵게.py
Labels: Lv2 성공, Lv1 성공, Lang: Python

#644 [이재표] Day92
  프로그래머스/lv1/이재표/부족한 금액 계산하기.java
  프로그래머스/lv2/이재표/더 맵게.java
Labels: Lv2 성공, Lv1 성공, Lang: Java/Kotlin

#643 [이하은] Day92
  프로그래머스/lv1/이하은/부족한 금액 계산하기.kt
  프로그래머스/lv2/이하은/더 맵게.java
  프로그래머스/lv3/이하은/보행자 천국.md
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#642 [이슬기] Day92
  프로그래머스/lv1/이슬기/prg_부족한 금액 계산하기.py
  프로그래머스/lv2/이슬기/prg_더 맵게.py
  프로그래머스/lv3/이슬기/prg_보행자 천국.java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Python, Lang: Java/Kotlin

#641 [최원준] Day92
  프로그래머스/더 맵게2.py
  프로그래머스/보행자 천국2.py
  프로그래머스/부족한 금액 계산하기2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Python, Lang: Java/Kotlin
