Repository CodingTestStudy2/Daily_Morning_Coding_Test, pull requests merged in 2024-12, with the labels that each got.

#724 [이슬기] Day112
  프로그래머스/lv2/이슬기/prg_전력망을 둘로 나누기.py
  프로그래머스/lv3/이슬기/prg_공 이동 시뮬레이션.py
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Python

#726 [최원준] Day113
  프로그래머스/lv1/최원준/x만큼 간격이 있는 n개의 숫자2.py
  프로그래머스/lv2/최원준/호텔 대실2.py
  프로그래머스/lv3/최원준/억억단을 외우자2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#729 [이재표] Day114
  프로그래머스/lv1/이재표/평균 구하기.java
  프로그래머스/lv2/이재표/배달.java
Labels: Lv2 성공, Lv1 성공, Lang: Java/Kotlin

#728 [최원준] Day114
  프로그래머스/lv1/최원준/평균 구하기2.py
  프로그래머스/lv2/최원준/배달2.py
  프로그래머스/lv3/최원준/카드 짝 맞추기2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#731 [이하은] Day115
  프로그래머스/lv1/이하은/짝수와 홀수.kt
  프로그래머스/lv2/이하은/메뉴 리뉴얼.kt
Labels: Lv1 성공, Lv2 실패, Lang: Java/Kotlin

#730 [최원준] Day115
  프로그래머스/lv1/최원준/짝수와 홀수2.py
  프로그래머스/lv2/최원준/메뉴 리뉴얼2.py
  프로그래머스/lv3/최원준/n + 1 카드게임2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#733 [이하은] Day116
  프로그래머스/lv1/이하은/자릿수 더하기.md
  프로그래머스/lv2/이하은/숫자 카드 나누기.kt
  프로그래머스/lv3/이하은/주사위 고르기.kt
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#732 [최원준] Day116
  프로그래머스/lv1/최원준/자릿수 더하기2.py
  프로그래머스/lv2/최원준/숫자 카드 나누기2.py
  프로그래머스/lv3/최원준/주사위 고르기2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#734 [최원준] Day117
  프로그래머스/lv2/최원준/[3차] 방금그곡2.py
  프로그래머스/lv2/최원준/무인도 여행2.py
  프로그래머스/lv2/최원준/미로 탈출2.py
Labels: #2 성공, #3 성공, #1 성공, Lang: Java/Kotlin

#736 [이하은] Day118
  프로그래머스/lv2/이하은/행렬 테두리 회전하기.kt
Labels: #1 성공, Lang: Java/Kotlin

#739 [이재표] Day119
  프로그래머스/lv1/이재표/디펜스 게임.java
  프로그래머스/lv2/이재표/가장 큰 정사각형 찾기.java
Labels: #2 성공, #1 성공, #3 실패, Lang: Java/Kotlin

#738 [오하늘] Day119
  프로그래머스/lv2/오하늘/디펜스게임.py
Labels: #1 성공, #3 실패, #2 실패, Lang: Python

#741 [오하늘] Day120
  프로그래머스/lv2/오하늘/멀쩡한 사각형.py
  프로그래머스/lv2/오하늘/하노이의 탑.py
Labels: #1 성공, #3 실패, #2 실패, Lang: Python

#740 [이하은] Day120
  프로그래머스/lv2/이하은/멀쩡한 사각형.kt
  프로그래머스/lv2/이하은/우박수열 정적분.kt
  프로그래머스/lv2/이하은/하노이의 탑.kt
Labels: #2 성공, #3 성공, #1 성공, Lang: Java/Kotlin

#742 [최원준] Day121
  프로그래머스/lv2/최원준/광물 캐기2.py
  프로그래머스/lv2/최원준/문자열 압축2.py
  프로그래머스/lv2/최원준/점 찍기2.py
Labels: #2 성공, #3 성공, #1 성공, Lang: Java/Kotlin

#745 [최원준] Day122
  프로그래머스/lv2/최원준/과제 진행하기2.py
  프로그래머스/lv2/최원준/퍼즐 게임 챌린지2.py
  프로그래머스/lv2/최원준/후보키2.py
Labels: #2 성공, #3 성공, #1 성공, Lang: Java/Kotlin

#744 [이재표] Day122
  프로그래머스/lv1/이재표/후보키.java
Labels: #1 실패, Lang: Java/Kotlin

#746 [최원준] Day123
  프로그래머스/lv2/N-Queen2.py
  프로그래머스/lv2/이모티콘 할인행사2.py
Labels: #2 성공, #1 성공, #3 실패, Lang: Java/Kotlin

#749 [이하은] Day124
  프로그래머스/lv2/이하은/혼자서 하는 틱택토.kt
Labels: #1 실패, Lang: Java/Kotlin

#748 [최원준] Day124
  프로그래머스/lv2/최원준/N-Queen2.py
  프로그래머스/lv2/최원준/요격 시스템2.py
  프로그래머스/lv2/최원준/이모티콘 할인행사2.py
  프로그래머스/lv2/최원준/혼자 놀기의 달인2.py
  프로그래머스/lv2/최원준/혼자서 하는 틱택토2.py
Labels: #2 성공, #3 성공, #1 성공, Lang: Java/Kotlin

#755 [조유리] Day01
  leetcode/1easy/조유리/LC_2784.java
  leetcode/2medium/조유리/LC_2288.java
Labels: #2 성공, #1 성공, #3 실패, Lang: Java/Kotlin

#754 [임강민] Day 01
  leetcode/1easy/임강민/2784.py
  leetcode/2medium/임강민/2288.py
Labels: #2 성공, #1 성공, #3 실패, Lang: Python

#753 [최원준] Day 01
  leetcode/1easy/최원준/Q2784.java
  leetcode/2medium/최원준/Q2288.java
  leetcode/3hard/최원준/Q1723.java
Labels: #2 성공, #3 성공, #1 성공, Lang: Java/Kotlin

#752 [유동하] Day01
  leetcode/1easy/dummy
  leetcode/1easy/유동하/2784.js
  leetcode/2medium/dummy
  leetcode/2medium/유동하/2288.js
  leetcode/3hard/dummy
  leetcode/3hard/유동하/1723.js
Labels: #2 성공, #3 성공, #1 성공, Lang: JavaScript

#760 [위성원] Day01
  leetcode/1easy/위성원/2784.js
  leetcode/2medium/위성원/2288.js
Labels: #2 성공, #1 성공, #3 실패, Lang: JavaScript

#761 [위성원] Day02
  leetcode/1easy/위성원/2806.js
  leetcode/2medium/위성원/2320.js
Labels: #2 성공, #1 성공, Lang: JavaScript

#759 [최원준] Day 02
  leetcode/1easy/최원준/Q2806.java
  leetcode/2medium/최원준/Q2320.java
Labels: #2 성공, #1 성공, Lang: Java/Kotlin

#756 [조유리] Day02
  leetcode/1easy/조유리/LC_2506.java
  leetcode/2medium/조유리/LC_2320.java
Labels: #2 성공, #1 성공, Lang: Java/Kotlin
