Repository CodingTestStudy2/Daily_Morning_Coding_Test, pull requests merged in 2024-09, with the labels that each got.

#378 [양진혁] Day55
  프로그래머스/lv1/양진혁/공원산책.py
  프로그래머스/lv2/양진혁/최댓값과최솟값.py
  프로그래머스/lv3/양진혁/이중우선순위큐.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Python

#376 [김원래] DAY55
  프로그래머스/lv1/김원래/공원 산책.cpp
  프로그래머스/lv2/김원래/최댓값과 최솟값.cpp
  프로그래머스/lv3/김원래/이중우선순위큐.cpp
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: C/C++

#375 [이슬기] Day55
  프로그래머스/lv1/이슬기/prg_공원 산책.java
  프로그래머스/lv2/이슬기/prg_최댓값과 최솟값.java
  프로그래머스/lv3/이슬기/prg_이중우선순위큐.java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#374 [이하은] Day55
  프로그래머스/lv1/이하은/공원 산책.cpp
  프로그래머스/lv2/이하은/최솟값과 최댓값.kt
  프로그래머스/lv3/이하은/이중 우선순위 큐.cpp
  프로그래머스/lv3/이하은/이중 우선순위 큐.md
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin, Lang: C/C++

#373 [최원준] Day 55
  프로그래머스/lv1/최원준/공원 산책2.py
  프로그래머스/lv2/최원준/최댓값과 최솟값2.py
  프로그래머스/lv3/최원준/이중우선순위큐2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Python, Lang: Java/Kotlin

#379 [장정윤] Day 55
  프로그래머스/lv2/장정윤/최댓값과 최솟값.py
  프로그래머스/lv3/장정윤/이중우선순위큐.py
Labels: Lv2 성공, Lv3 성공, Lv1 실패, Lang: Python

#380 [장정윤] Day55
  프로그래머스/lv1/장정윤/공원 산책.py
Labels: Lv1 성공, Lang: Python

#381 [김지연] Day06
  프로그래머스/lv1/김지연/공원 산책.java
Labels: Lv1 성공, Lang: Java/Kotlin

#391 [권채린] Day01
  프로그래머스/lv1/권채린/신고 결과 받기.cpp
  프로그래머스/lv2/권채린/올바른 괄호.cpp
Labels: Lv2 성공, Lv1 성공, Lang: C/C++

#390 [장정윤] Day56 풀이
  프로그래머스/lv1/장정윤/신고 결과 받기.py
  프로그래머스/lv2/장정윤/최솟값 만들기.py
Labels: Lv2 성공, Lv3 실패, Lv1 실패, Lang: Python

#389 [김원래] DAY56
  프로그래머스/lv1/김원래/신고 결과 받기.cpp
  프로그래머스/lv2/김원래/올바른 괄호.cpp
  프로그래머스/lv3/김원래/정수 삼각형.cpp
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: C/C++

#388 [이하은] Day56
  프로그래머스/lv1/이하은/신고 결과 받기.cpp
  프로그래머스/lv2/이하은/올바른 괄호.cpp
  프로그래머스/lv3/이하은/정수 삼각형.cpp
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: C/C++

#387 [이현섭] Day56
  프로그래머스/lv1/leehandsub/신고 결과 받기.cpp
  프로그래머스/lv2/이현섭/test.txt
  프로그래머스/lv2/이현섭/올바른 괄호.cpp
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: C/C++

#386 [김미래] Day56
  프로그래머스/lv1/공원산책.cpp
  프로그래머스/lv1/김미래/신고 결과 받기.cpp
  프로그래머스/lv2/김미래/올바른 괄호.cpp
  프로그래머스/lv2/김미래/최댓값과 최솟값.cpp
Labels: Lv2 성공, Lv1 성공, Lang: C/C++

#385 [이재표] Day56
  프로그래머스/lv1/이재표/신고 결과 받기.java
  프로그래머스/lv2/이재표/올바른 괄호.java
  프로그래머스/lv3/이재표/정수 삼각형.java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#384 [이슬기] Day56
  프로그래머스/lv1/이슬기/prg_신고 결과 받기.java
  프로그래머스/lv2/이슬기/prg_올바른 괄호.java
  프로그래머스/lv3/이슬기/prg_정수 삼각형.java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#383 [최원준] Day 56
  프로그래머스/lv1/최원준/신고 결과 받기2.py
  프로그래머스/lv2/최원준/올바른 괄호2.py
  프로그래머스/lv3/최원준/정수 삼각형2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#393 [이선영] Day56
  프로그래머스/lv1/이선영/신고 결과 받기.java
  프로그래머스/lv2/이선영/올바른 괄호.java
Labels: Lv2 성공, Lv1 성공, Lang: Java/Kotlin

#394 [김지연] Day07
  프로그래머스/lv1/김지연/정수 삼각형.java
Labels: Lv3 성공, Lang: Java/Kotlin

#396 [이선영] Day56
  프로그래머스/lv3/이선영/정수 삼각형.java
Labels: Lv3 성공, Lang: Java/Kotlin

#404 [정주성] Day 57
  프로그래머스/lv2/정주성/최솟값 만들기.py
  프로그래머스/lv3/정주성/네트워크.py
Labels: Lv2 성공, Lv3 성공, Lv1 실패, Lang: Python

#403 [이현섭] Day57
  프로그래머스/lv1/leehandsub/붕대 감기.cpp
  프로그래머스/lv2/이현섭/최솟값 만들기.cpp
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: C/C++

#402 [이하은] Day57
  프로그래머스/lv1/이하은/붕대 감기.cpp
  프로그래머스/lv2/이하은/최솟값 만들기.md
  프로그래머스/lv3/이하은/네트워크.md
Labels: Lv3 성공, Lv2 실패, Lv1 실패, Lang: C/C++

#401 [김원래] DAY57
  프로그래머스/lv1/김원래/PCCP 기출문제 1번  붕대 감기.cpp
  프로그래머스/lv2/김원래/최솟값 만들기.cpp
  프로그래머스/lv3/김원래/네트워크.cpp
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: C/C++

#400 [김미래] Day57
  프로그래머스/lv1/김미래/붕대 감기.cpp
  프로그래머스/lv2/김미래/최솟값 만들기.cpp
Labels: Lv2 성공, Lv1 성공, Lang: C/C++

#399 [이슬기] Day57
  프로그래머스/lv1/이슬기/prg_붕대 감기.java
  프로그래머스/lv2/이슬기/prg_최솟값 만들기.java
  프로그래머스/lv3/이슬기/prg_네트워크.java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#398 [최원준] Day 57
  프로그래머스/lv1/최원준/붕대 감기2.py
  프로그래머스/lv2/최원준/최솟값 만들기2.py
  프로그래머스/lv3/최원준/네트워크2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#405 [김지연] Day08
  프로그래머스/lv1/김지연/[PCCP 기출문제] 1번_붕대 감기.java
Labels: Lv1 성공, Lang: Java/Kotlin

#415 [이슬기] Day58
  프로그래머스/lv1/이슬기/prg_가장 많이 받은 선물.py
  프로그래머스/lv2/이슬기/prg_JadenCase 문자열 만들기.py
  프로그래머스/lv3/이슬기/prg_야근 지수.py
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Python

#414 [이현섭] Day58
  프로그래머스/lv2/이현섭/JadenCase 문자열 만들기.cpp
Labels: Lv2 성공, Lv3 실패, Lv1 실패, Lang: C/C++

#413 [이선영] Day58
  프로그래머스/lv1/이선영/가장 많이 받은 선물.java
  프로그래머스/lv2/이선영/JadenCase 문자열 만들기.java
Labels: Lv2 성공, Lv1 성공, Lang: Java/Kotlin

#412 [이하은] Day58
  프로그래머스/lv1/이하은/가장 많이 받은 선물.kt
  프로그래머스/lv2/이하은/JadenCase 문자열 만들기.md
Labels: Lv2 성공, Lv1 실패, Lang: Java/Kotlin

#411 [양진혁] DAY58
  프로그래머스/lv1/양진혁/가장많이받은선물.java
  프로그래머스/lv2/양진혁/JadenCase.java
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#410 [이재표] DAY58
  프로그래머스/lv1/이재표/가장 많이 받은 선물.java
  프로그래머스/lv2/이재표/JadenCase 문자열 만들기.java
  프로그래머스/lv3/이재표/야근 지수.java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#409 [김미래] Day58
  프로그래머스/lv1/김미래/가장 많이 받은 선물.cpp
  프로그래머스/lv2/김미래/JadenCase 문자열 만들기.cpp
Labels: Lv2 성공, Lv1 성공, Lang: C/C++

#408 [권채린] Day02
  프로그래머스/lv1/권채린/가장 많이 받은 선물.cpp
Labels: Lv1 성공, Lang: C/C++

#407 [최원준] Day 58
  프로그래머스/lv1/최원준/가장 많이 받은 선물2.py
  프로그래머스/lv2/최원준/JadenCase 문자열 만들기2.py
  프로그래머스/lv3/최원준/야근 지수2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#416 [김지연] Day09
  프로그래머스/lv1/김지연/가장 많이 받은 선물.java
Labels: Lv1 성공, Lang: Java/Kotlin

#418 [정주성] Day 2
  프로그래머스/lv2/정주성/JadenCase 문자열 만들기.py
  프로그래머스/lv3/정주성/야근 지수.py
Labels: Lv2 성공, Lv3 성공, Lv1 실패, Lang: Python

#421 [권채린] Day03
  프로그래머스/lv1/권채린/[1차] 다트 게임.cpp
Labels: Lv1 성공, Lv2 실패, Lang: C/C++

#424 [김원래] DAY59
  프로그래머스/lv1/김원래/다트게임.cpp
  프로그래머스/lv2/김원래/이진 변환 반복하기.cpp
  프로그래머스/lv3/김원래/단어 변환.cpp
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: C/C++

#423 [정주성] Day 3
  프로그래머스/lv2/정주성/이진 변환 반복하기.py
Labels: Lv2 성공, Lang: Python

#422 [이현섭] Day59
  프로그래머스/lv1/leehandsub/[1차] 다트 게임.cpp
  프로그래머스/lv2/이현섭/이진 변환 반복하기.cpp
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: C/C++

#420 [최원준] Day 59
  프로그래머스/lv1/최원준/[1차] 다트 게임2.py
  프로그래머스/lv2/최원준/이진 변환 반복하기2.py
  프로그래머스/lv3/최원준/단어 변환2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#419 [이슬기] Day59
  프로그래머스/lv1/이슬기/prg_[1차] 다트 게임.py
  프로그래머스/lv2/이슬기/prg_이진 변환 반복하기.py
  프로그래머스/lv3/이슬기/prg_단어 변환.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Python

#426 [장정윤] Day58 lv1, lv2 풀이
  프로그래머스/lv1/장정윤/가장 많이 받은 선물.py
  프로그래머스/lv2/장정윤/JadenCase 문자열 만들기.py
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Python

#432 권민서 Day 5
  프로그래머스/lv1/권민서/옹알이.java
Labels: Lv1 성공

#430 [이슬기] Day 60
  프로그래머스/lv1/이슬기/prg_옹알이 (2).java
  프로그래머스/lv2/이슬기/prg_숫자의 표현.java
  프로그래머스/lv3/이슬기/prg_등굣길.java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#429 [최원준] Day 60
  프로그래머스/등굣길2.py
  프로그래머스/숫자의 표현2.py
  프로그래머스/옹알이 (2)2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#433 Minseo Day5
  프로그래머스/lv2/권민서/숫자의표현.java
Labels: Lv2 성공, Lv1 성공, Lv3 실패

#434 [정주성] Day 4
  프로그래머스/lv1/정주성/옹알이 (2).py
  프로그래머스/lv2/정주성/숫자의 표현.py
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Python

#436 [김지연] Day11
  프로그래머스/lv1/김지연/옹알이(2).java
Labels: Lv1 성공, Lang: Java/Kotlin

#441 [권채린] Day04
  프로그래머스/lv1/권채린/실패율.cpp
  프로그래머스/lv2/권채린/다음 큰 숫자.cpp
  프로그래머스/lv3/권채린/숫자게임.cpp
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: C/C++

#443 [김원래] DAY61
  프로그래머스/lv1/김원래/실패율.cpp
  프로그래머스/lv1/김원래/옹알이 (2).cpp
  프로그래머스/lv2/김원래/다음 큰 숫자.cpp
  프로그래머스/lv2/김원래/숫자의 표현.cpp
  프로그래머스/lv3/김원래/숫자게임.cpp
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: C/C++

#442 [이현섭] Day61
  프로그래머스/lv1/leehandsub/실패율.cpp
  프로그래머스/lv2/이현섭/다음 큰 숫자.cpp
  프로그래머스/lv3/이현섭/새 텍스트 문서.txt
  프로그래머스/lv3/이현섭/숫자 게임.cpp
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: C/C++

#440 [정주성] Day 5
  프로그래머스/lv1/정주성/실패율.py
  프로그래머스/lv2/정주성/다음 큰 숫자.py
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Python

#439 [이슬기] Day61
  프로그래머스/lv1/이슬기/prg_실패율.java
  프로그래머스/lv2/이슬기/prg_다음 큰 숫자.java
Labels: Lv2 성공, Lv1 성공, Lang: Java/Kotlin

#437 [최원준] Day 61
  프로그래머스/lv1/최원준/실패율2.py
  프로그래머스/lv1/최원준/옹알이 (2)2.py
  프로그래머스/lv2/최원준/다음 큰 숫자2.py
  프로그래머스/lv2/최원준/숫자의 표현2.py
  프로그래머스/lv3/최원준/등굣길2.py
  프로그래머스/lv3/최원준/숫자 게임2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#444 [이하은] Day61
  프로그래머스/lv1/이하은/실패율.kt
Labels: Lv1 실패, Lang: Java/Kotlin

#446 권민서 DAY 6
  프로그래머스/lv1/권민서/실패율.java
  프로그래머스/lv2/권민서/다음큰숫자.java
Labels: Lv2 성공, Lv1 실패

#454 [이하은] Day62
  프로그래머스/lv1/이하은/덧칠하기.md
  프로그래머스/lv2/이하은/피보나치 수.kt
Labels: Lv2 성공, Lv1 실패, Lang: Java/Kotlin

#453 [이현섭] Day62
  프로그래머스/lv1/leehandsub/덧칠하기.cpp
  프로그래머스/lv2/이현섭/피보나치 수.cpp
  프로그래머스/lv3/이현섭/최고의 집합.cpp
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: C/C++

#451 [이재표] Day62
  프로그래머스/lv1/이재표/덧칠하기.java
  프로그래머스/lv2/이재표/피보나치 수.java
  프로그래머스/lv3/이재표/최고의 집합.java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#450 [DAY62] 김원래
  프로그래머스/lv1/김원래/덧칠하기.cpp
  프로그래머스/lv2/김원래/피보나치 수.cpp
  프로그래머스/lv3/김원래/최고의 집합.cpp
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: C/C++

#449 [지준혁] Day62
  프로그래머스/lv1/지준혁/덧칠하기.java
  프로그래머스/lv2/지준혁/피보나치.java
  프로그래머스/lv3/지준혁/최고의 집합.java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#448 [최원준] Day 62
  프로그래머스/lv1/최원준/덧칠하기2.py
  프로그래머스/lv2/최원준/피보나치 수2.py
  프로그래머스/lv3/최원준/최고의 집합2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#455 권민서 DAY 7
  프로그래머스/lv1/권민서/덧칠하기.java
  프로그래머스/lv2/권민서/피보나치수.java
Labels: Lv1 성공, Lv2 실패, Lang: Java/Kotlin

#456 [김지연] Day12
  프로그래머스/lv1/김지연/덧칠하기.java
  프로그래머스/lv2/김지연/피보나치 수.java
  프로그래머스/lv3/김지연/최고의 집합.java
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#457 Day62 Lv3 풀이 추가
  프로그래머스/lv3/이슬기/prg_숫자 게임.java
Labels: Lv3 성공, Lang: Java/Kotlin

#458 [정주성] Day 6
  프로그래머스/lv1/정주성/덧칠하기.py
  프로그래머스/lv2/정주성/피보나치 수.py
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Python

#466 권민서 DAY 8
  프로그래머스/lv1/권민서/소수찾기.java
  프로그래머스/lv2/권민서/짝지어제거하기.java
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#464 [이슬기] Day63
  프로그래머스/lv1/이슬기/prg_소수찾기.py
  프로그래머스/lv2/이슬기/prg_짝지어 제거하기.py
  프로그래머스/lv3/이슬기/prg_단속카메라.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Python

#463 [이하은] Day63
  프로그래머스/lv1/이하은/소수 찾기.java
  프로그래머스/lv2/이하은/짝지어 제거하기.md
  프로그래머스/lv3/이하은/단속카메라.java
Labels: Lv1 성공, Lv3 실패, Lv2 실패, Lang: Java/Kotlin

#462 [이현섭] Day63
  프로그래머스/lv1/leehandsub/소수 찾기.cpp
  프로그래머스/lv2/이현섭/짝지어 제거하기.cpp
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: C/C++

#461 [지준혁] Day63
  프로그래머스/lv1/지준혁/소수 찾기.java
  프로그래머스/lv2/지준혁/짝지어 제거하기.java
  프로그래머스/lv3/지준혁/단속카메라.java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#459 [이재표] Day63
  프로그래머스/lv1/이재표/소수 찾기.java
  프로그래머스/lv2/이재표/짝지어 제거하기.java
  프로그래머스/lv3/이재표/단속카메라.java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#468 [김지연] Day13
  프로그래머스/lv1/김지연/소수 찾기.java
  프로그래머스/lv2/김지연/다음 큰 숫자.java
  프로그래머스/lv3/김지연/단속카메라.java
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#467 [김원래] DAY63
  프로그래머스/lv1/김원래/소수 찾기.cpp
  프로그래머스/lv2/김원래/New Text Document.txt
  프로그래머스/lv3/김원래/단속카메라.cpp
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: C/C++

#474 [김원래] DAY64
  프로그래머스/lv1/김원래/과일 장수.cpp
  프로그래머스/lv2/김원래/짝지어 제거하기.cpp
  프로그래머스/lv2/김원래/카펫.cpp
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: C/C++

#472 [이재표] Day64
  프로그래머스/lv1/이재표/과일 장수.java
  프로그래머스/lv2/이재표/카펫.java
  프로그래머스/lv3/이재표/기지국 설치.java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#471 [이슬기] Day64
  프로그래머스/lv1/이슬기/prg_과일장수.py
  프로그래머스/lv2/이슬기/prg_카펫.py
  프로그래머스/lv3/이슬기/prg_기지국 설치.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Python

#470 [지준혁] Day64
  프로그래머스/lv1/지준혁/과일 장수.java
  프로그래머스/lv2/지준혁/카펫.java
  프로그래머스/lv3/지준혁/기지국 설치.java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#469 [최원준] Day 64
  프로그래머스/lv1/최원준/과일 장수2.py
  프로그래머스/lv2/최원준/카펫2.py
  프로그래머스/lv3/최원준/기지국 설치2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#475 Day 9
  프로그래머스/lv1/권민서/과일장수.java
  프로그래머스/lv2/권민서/카펫.java
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#476 [이하은] Day64
  프로그래머스/lv1/이하은/과일 장수.kt
  프로그래머스/lv2/이하은/카펫.kt
  프로그래머스/lv3/이하은/기지국 설치.java
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#480 [장정윤] Day 65
  프로그래머스/lv1/장정윤/소수 만들기.py
  프로그래머스/lv2/장정윤/점프와 순간 이동.py
  프로그래머스/lv3/장정윤/베스트 앨범.py
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Python

#479 [이재표] Day65
  프로그래머스/lv1/이재표/소수 만들기.java
  프로그래머스/lv2/이재표/점프와 순간 이동.java
  프로그래머스/lv3/이재표/베스트앨범(2).java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#478 [이슬기] Day65
  프로그래머스/lv1/이슬기/prg_소수만들기.java
  프로그래머스/lv2/이슬기/prg_점프와 순간 이동.java
  프로그래머스/lv3/이슬기/prg_베스트앨범.java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#481 [김원래] DAY65
  프로그래머스/lv1/김원래/소수 만들기.cpp
  프로그래머스/lv2/김원래/점프와 순간 이동.cpp
  프로그래머스/lv3/김원래/베스트앨범.cpp
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: C/C++

#487 [장정윤] DAY 66
  프로그래머스/lv1/장정윤/모의고사.py
  프로그래머스/lv2/장정윤/구명 보트.py
  프로그래머스/lv3/장정윤/스티커 모으기 2.py
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Python

#485 [권채린] Day05
  프로그래머스/lv1/권채린/모의고사.cpp
  프로그래머스/lv2/권채린/구명보트.cpp
  프로그래머스/lv3/권채린/스티커 모으기(2).cpp
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: C/C++

#489 [이재표] Day66
  프로그래머스/lv1/이재표/모의고사.java
  프로그래머스/lv2/이재표/구명보트.java
  프로그래머스/lv3/이재표/스티커 모으기(2).java
Labels: Lv2 성공, Lv1 성공, Lang: Java/Kotlin

#488 [김원래] DAY66
  프로그래머스/lv1/김원래/모의고사.cpp
  프로그래머스/lv2/김원래/구명보트.cpp
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: C/C++

#486 [이슬기] Day66
  프로그래머스/lv1/이슬기/prg_모의고사.java
  프로그래머스/lv2/이슬기/prg_구명보트.java
Labels: Lv2 성공, Lv1 성공, Lang: Java/Kotlin

#484 [김미래] Day 66
  프로그래머스/lv1/김미래/소수 만들기.cpp
  프로그래머스/lv2/김미래/구명보트.cpp
  프로그래머스/lv2/김미래/점프와 순간이동.cpp
Labels: Lv2 성공, Lang: C/C++

#483 [최원준] Day 66
  프로그래머스/lv1/최원준/모의고사2.py
  프로그래머스/lv2/최원준/구명보트2.py
  프로그래머스/lv3/최원준/스티커 모으기(2)2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#491 [이하은] Day66
  프로그래머스/lv1/이하은/모의고사.java
  프로그래머스/lv2/이하은/구명보트.java
  프로그래머스/lv3/이하은/스티커 모으기 2.java
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#492 [지준혁] Day 66
  프로그래머스/lv1/지준혁/모의고사.java
  프로그래머스/lv2/지준혁/구명보트.java
  프로그래머스/lv3/지준혁/스티커 모으기(2).java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#498 [이슬기] Day67
  프로그래머스/lv1/이슬기/prg_기사 단원의 무기.java
  프로그래머스/lv2/이슬기/prg_멀리뛰기.java
  프로그래머스/lv3/이슬기/prg_불량 사용자.java
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#497 [장정윤] Day 67
  프로그래머스/lv1/장정윤/기사 단원의 무기.py
  프로그래머스/lv3/장정윤/불량 사용자.py
Labels: Lv1 성공, Lv3 실패, Lv2 실패, Lang: Python

#496 [이재표] Day67
  프로그래머스/lv1/이재표/기사단원의 무기.java
  프로그래머스/lv2/이재표/멀리 뛰기.java
  프로그래머스/lv3/이재표/불량 사용자.java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#495 [이하은] Day67
  프로그래머스/lv1/이하은/기사 단원의 무기.java
  프로그래머스/lv2/이하은/멀리 뛰기.md
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#494 [이현섭] Day 67
  프로그래머스/lv1/leehandsub/기사단원의 무기.kt
  프로그래머스/lv2/이현섭/멀리 뛰기.cpp
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin, Lang: C/C++

#499 [김원래] DAY67
  프로그래머스/lv1/김원래/기사단원의 무기.cpp
  프로그래머스/lv2/김원래/멀리 뛰기.cpp
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: C/C++

#505 [양진혁] Day68
  프로그래머스/lv1/양진혁/2016년.py
  프로그래머스/lv2/양진혁/n개의최소공배수.py
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Python

#507 [이슬기] Day 68
  프로그래머스/lv1/이슬기/prg_2016년.py
  프로그래머스/lv2/이슬기/prg_N개의 최소공배수.py
Labels: Lv2 성공, Lv1 성공, Lang: Python

#506 [지준혁] Day 68
  프로그래머스/lv1/지준혁/2016년.java
  프로그래머스/lv2/지준혁/N개의 최소공배수.java
  프로그래머스/lv3/지준혁/보석 쇼핑.java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#504 [이재표] Day 68
  프로그래머스/lv1/이재표/2016년.java
  프로그래머스/lv2/이재표/N개의 최소공배수.java
  프로그래머스/lv3/이재표/보석 쇼핑(2).java
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#503 [김원래] DAY68
  프로그래머스/lv1/김원래/2016년.cpp
  프로그래머스/lv2/김원래/N개의 최소공배수.cpp
Labels: Lv2 성공, Lv1 성공, Lv3 실패

#502 [이하은] Day68
  프로그래머스/lv1/이하은/2016년.java
  프로그래머스/lv2/이하은/N개의 최소공배수.java
  프로그래머스/lv3/이하은/보석 쇼핑.java
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#501 [최원준] Day 68
  프로그래머스/lv1/최원준/2016년2.py
  프로그래머스/lv2/최원준/N개의 최소공배수2.py
  프로그래머스/lv3/최원준/보석 쇼핑2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#511 [김원래] DAY69
  프로그래머스/lv1/김원래/폰켄몬.cpp
  프로그래머스/lv2/김원래/영어 끝말잇기.cpp
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: C/C++

#510 [이재표] Day69
  프로그래머스/lv1/이재표/폰켓몬.java
  프로그래머스/lv2/이재표/영어 끝말잇기.java
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#509 [이하은] Day69
  프로그래머스/lv1/이하은/폰켓몬.java
  프로그래머스/lv2/이하은/영어 끝말잇기.java
  프로그래머스/lv3/이하은/징검다리 건너기.java
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Java/Kotlin

#508 [최원준] Day 69
  프로그래머스/lv1/최원준/폰켓몬2.py
  프로그래머스/lv2/최원준/영어 끝말잇기2.py
  프로그래머스/lv3/최원준/징검다리 건너기2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#513 [이슬기] Day 69
  프로그래머스/lv1/이슬기/prg_폰켓몬.py
  프로그래머스/lv2/이슬기/prg_영어 끝말잇기.py
  프로그래머스/lv3/이슬기/prg_징검다리 건너기.py
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Python

#517 [장정윤] Day 70
  프로그래머스/lv1/장정윤/카드 뭉치.py
  프로그래머스/lv2/장정윤/예상 대진표.py
  프로그래머스/lv3/장정윤/가장 먼 거리.py
  프로그래머스/lv3/장정윤/불량 사용자.py
Labels: Lv2 성공, Lv1 성공, Lv3 실패, Lang: Python

#516 [이재표] Day70
  프로그래머스/lv1/이재표/카드 뭉치.java
  프로그래머스/lv2/이재표/예상 대진표.java
  프로그래머스/lv3/이재표/가장 먼 노드.java
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin

#514 [최원준] Day 70
  프로그래머스/lv1/최원준/카드 뭉치2.py
  프로그래머스/lv2/최원준/예상 대진표2.py
  프로그래머스/lv3/최원준/가장 먼 노드2.py
Labels: Lv2 성공, Lv3 성공, Lv1 성공, Lang: Java/Kotlin
