Repository CodingTestStudy2/Daily_Morning_Coding_Test, pull requests merged in 2025-02, with the labels that each got.

#858 [조유리] Day23
  leetcode/1easy/조유리/LC_504.java
  leetcode/2medium/조유리/LC_1362.java
Labels: #2 성공, #1 성공, #3 실패, Lang: Java/Kotlin

#857 [이경호] Day23
  leetcode/1easy/이경호/504.cpp
  leetcode/2medium/이경호/1362.cpp
Labels: #2 성공, #1 성공, #3 실패, Lang: C/C++

#856 [최원준] Day23
  leetcode/1easy/최원준/Q504.java
  leetcode/2medium/최원준/Q1362.java
Labels: #2 성공, #1 성공, #3 실패, Lang: Java/Kotlin

#861 [조유리] Day24
  leetcode/1easy/조유리/LC_3238.java
  leetcode/2medium/조유리/LC_3412.java
Labels: #2 성공, #1 성공, #3 실패, Lang: Java/Kotlin

#860 [위성원] Day24
  leetcode/1easy/위성원/3238.ts
  leetcode/2medium/위성원/3412.ts
Labels: #1 성공, #3 실패, #2 실패, Lang: JavaScript

#859 [이경호] Day 24
  leetcode/1easy/이경호/3238.cpp
Labels: #1 성공, #3 실패, #2 실패, Lang: C/C++

#866 [이경호] Day25
  leetcode/1easy/이경호/3083.cpp
Labels: #1 성공, #3 실패, #2 실패, Lang: C/C++

#865 [조유리] Day25
  leetcode/1easy/조유리/LC_3083.java
  leetcode/2medium/조유리/LC_2420.java
Labels: #1 성공, #3 실패, #2 실패, Lang: Java/Kotlin

#864 [박은비] Day25
  leetcode/1easy/박은비/3083.swift
Labels: #1 성공, #3 실패, #2 실패, Lang: Swift

#863 [위성원] Day25
  leetcode/1easy/위성원/3083.ts
  leetcode/2medium/위성원/2420.ts
Labels: #1 성공, #3 실패, #2 실패, Lang: JavaScript

#862 [최원준] Day25
  leetcode/1easy/최원준/Q3083.java
  leetcode/2medium/최원준/Q2420.java
  leetcode/3hard/최원준/Q2111.java
Labels: #2 성공, #3 성공, #1 성공, Lang: Java/Kotlin

#869 [위성원] Day26
  leetcode/1easy/위성원/1071.ts
  leetcode/2medium/위성원/2910.ts
Labels: #1 성공, #3 실패, #2 실패, Lang: JavaScript

#868 [최원준] Day26
  leetcode/1easy/최원준/Q1071.java
Labels: #1 성공, #3 실패, #2 실패, Lang: Java/Kotlin

#867 [이경호] Day26
  leetcode/1easy/이경호/1071.cpp
Labels: #1 성공, #3 실패, #2 실패, Lang: C/C++

#873 [조유리] Day27
  leetcode/1easy/조유리/LC_2485.java
Labels: #1 성공, #3 실패, #2 실패, Lang: Java/Kotlin

#872 [최원준] Day27
  leetcode/1easy/최원준/Q2485.java
Labels: #1 성공, #3 실패, #2 실패, Lang: Java/Kotlin

#871 [위성원] Day 27
  leetcode/1easy/위성원/2485.ts
Labels: #1 성공, #3 실패, #2 실패, Lang: JavaScript

#878 [오하늘] Day28
  leetcode/1easy/오하늘/392.py
  leetcode/2medium/오하늘/1254.py
Labels: #2 성공, #1 성공, #3 실패, Lang: Python

#877 [이경호] Day28
  leetcode/1easy/이경호/392.cpp
Labels: #1 성공, #3 실패, #2 실패, Lang: C/C++

#876 [조유리] Day28
  leetcode/1easy/조유리/LC_392.java
  leetcode/2medium/조유리/LC_1254.java
Labels: #2 성공, #1 성공, #3 실패, Lang: Java/Kotlin

#875 [최원준] Day28
  leetcode/1easy/최원준/Q392.java
  leetcode/2medium/최원준/Q1254.java
Labels: #2 성공, #1 성공, #3 실패, Lang: Java/Kotlin

#874 [위성원] Day28
  leetcode/1easy/위성원/392.ts
Labels: #1 성공, #3 실패, #2 실패, Lang: JavaScript

#882 [박은비] Day29
  leetcode/1easy/박은비/121.swift
Labels: #1 성공, #3 실패, #1 실패, Lang: Swift

#881 [조유리] Day29
  leetcode/1easy/조유리/LC_121.java
  leetcode/2medium/조유리/LC_2304.java
Labels: #2 성공, #1 성공, #3 실패, Lang: Java/Kotlin

#880 [위성원] Day29
  leetcode/1easy/위성원/121.ts
Labels: #3 실패, #2 실패, #1 실패, Lang: JavaScript

#879 [최원준] Day29
  leetcode/1easy/최원준/Q121.java
  leetcode/2medium/최원준/Q2304.java
Labels: #2 성공, #1 성공, #3 실패, Lang: Java/Kotlin

#887 [박은비] Day30
  leetcode/1easy/박은비/1614.swift
Labels: #1 성공, #3 실패, #2 실패, Lang: Swift

#886 [이경호] Day 30
  leetcode/1easy/이경호/1614.cpp
Labels: #1 성공, #3 실패, #2 실패, Lang: C/C++

#885 [최원준] Day30
  leetcode/1easy/최원준/Q1614.java
  leetcode/2medium/최원준/Q1888.java
Labels: #2 성공, #1 성공, #3 실패, Lang: Java/Kotlin

#884 [위성원] Day30
  leetcode/1easy/위성원/1614.ts
Labels: #1 성공, #3 실패, #2 실패, Lang: JavaScript

#883 [조유리] Day30
  leetcode/1easy/조유리/LC_1614.java
Labels: #1 성공, #3 실패, #2 실패, Lang: Java/Kotlin

#891 [김용성] Day 31
  leetcode/1easy/1easy.iml
  leetcode/1easy/김용성/LC_1374.java
  leetcode/2medium/2medium.iml
  leetcode/2medium/김용성/LC_2826.java
  leetcode/3hard/3hard.iml
  leetcode/3hard/김용성/LC_960.java
  프로그래머스/lv1/lv1.iml
  프로그래머스/lv2/lv2.iml
  프로그래머스/lv3/lv3.iml
Labels: #2 성공, #1 성공, #3 실패, Lang: Java/Kotlin

#890 [박은비] Day31
  leetcode/1easy/박은비/1374.swift
Labels: #1 성공, #3 실패, #2 실패, Lang: Swift

#889 [이경호] Day 31
  leetcode/1easy/이경호/1374.cpp
Labels: #1 성공, #3 실패, #2 실패, Lang: C/C++

#888 [위성원] Day31
  leetcode/1easy/위성원/1374.ts
Labels: #1 성공, #3 실패, #2 실패, Lang: JavaScript

#896 [이경호] Day 32
  leetcode/1easy/이경호/2859.cpp
  leetcode/2medium/이경호/396.cpp
Labels: #2 성공, #1 성공, #3 실패, Lang: C/C++

#895 [최원준] Day32
  leetcode/1easy/최원준/Q2859.java
  leetcode/2medium/최원준/Q396.java
  leetcode/3hard/최원준/Q1293.java
Labels: #2 성공, #3 성공, #1 성공, Lang: Java/Kotlin

#894 [하늘] Day32
  leetcode/1easy/오하늘/2859.py
  leetcode/2medium/오하늘/396.py
Labels: #1 성공, #3 실패, #2 실패, Lang: Python

#893 [조유리] Day32
  leetcode/1easy/조유리/LC_2859.java
  leetcode/2medium/조유리/LC_396.java
Labels: #2 성공, #1 성공, #3 실패, Lang: Java/Kotlin

#892 [박은비] Day32
  leetcode/1easy/박은비/2859.swift
Labels: #1 성공, #3 실패, #2 실패, Lang: Swift

#900 [조유리] Day33
  leetcode/1easy/조유리/LC_1668.java
  leetcode/2medium/조유리/LC_2397.java
Labels: #2 성공, #1 성공, #3 실패, Lang: Java/Kotlin

#899 [김용성] Day33
  leetcode/1easy/1easy.iml
  leetcode/1easy/김용성/LC_1668.java
  leetcode/2medium/2medium.iml
  leetcode/2medium/김용성/LC_2397.java
  leetcode/3hard/3hard.iml
  leetcode/3hard/김용성/LC_768.java
Labels: #3 성공, #1 성공, #2 실패, Lang: Java/Kotlin

#898 [박은비] Day33
  leetcode/1easy/박은비/1668.swift
Labels: #1 성공, #3 실패, #2 실패, Lang: Swift

#897 [위성원] Day33
  leetcode/1easy/위성원/1668.ts
Labels: #1 성공, #3 실패, #2 실패, Lang: JavaScript

#904 [오하늘] Day34
  leetcode/1easy/오하늘/1538.py
  leetcode/2medium/오하늘/2086.py
Labels: #2 성공, #1 성공, #3 실패, Lang: Python

#903 [김용성] Day34
  leetcode/1easy/김용성/LC_1539.java
  leetcode/2medium/김용성/LC_2086.java
  leetcode/3hard/3hard.iml
  leetcode/3hard/김용성/LC_126.java
  leetcode/3hard/김용성/LC_126Test.java
Labels: #2 성공, #1 성공, #3 실패, Lang: Java/Kotlin

#902 [조유리] Day34
  leetcode/1easy/조유리/LC_1539.java
  leetcode/2medium/조유리/LC_2086.java
Labels: #2 성공, #1 성공, #3 실패, Lang: Java/Kotlin

#901 [위성원] Day34
  leetcode/1easy/위성원/1539.ts
Labels: #1 성공, #3 실패, #2 실패, Lang: JavaScript

#909 [조유리] Day35
  leetcode/1easy/조유리/LC_2765.java
  leetcode/2medium/조유리/LC_1031.java
Labels: #2 성공, #1 성공, #3 실패, Lang: Java/Kotlin

#908 [김용성] Day35
  leetcode/1easy/김용성/LC2765.java
  leetcode/2medium/김용성/LC1031.java
  leetcode/3hard/김용성/LC827.java
Labels: #2 성공, #1 성공, #3 실패, Lang: Java/Kotlin

#906 [최원준] Day35
  leetcode/1easy/최원준/Q2765.java
  leetcode/2medium/최원준/Q1031.java
  leetcode/3hard/최원준/Q827.java
Labels: #2 성공, #3 성공, #1 성공, Lang: Java/Kotlin

#905 [위성원] Day35
  leetcode/1easy/위성원/2765.ts
Labels: #1 성공, #3 실패, #2 실패, Lang: JavaScript

#912 [위성원] Day36
  leetcode/1easy/위성원/2923.ts
  leetcode/2medium/위성원/3376.ts
Labels: #1 성공, #3 실패, #2 실패, Lang: JavaScript

#911 [김용성] Day36
  leetcode/1easy/김용성/LC2923.java
  leetcode/2medium/김용성/LC3376.java
Labels: #2 성공, #1 성공, #3 실패, Lang: Java/Kotlin

#915 [조유리] Day37
  leetcode/1easy/조유리/LC_1018.java
  leetcode/2medium/조유리/LC_1594.java
Labels: #2 성공, #1 성공, #3 실패, Lang: Java/Kotlin

#914 [최원준] Day37
  leetcode/1easy/최원준/Q1018.java
  leetcode/2medium/최원준/Q1594.java
Labels: #2 성공, #1 성공, #3 실패, Lang: Java/Kotlin

#918 [최원준] Day38
  leetcode/1easy/최원준/Q1175.java
  leetcode/2medium/최원준/Q1513.java
  leetcode/3hard/최원준/Q480.java
Labels: #2 성공, #3 성공, #1 성공, Lang: Java/Kotlin

#917 [김용성] Day38
  leetcode/1easy/김용성/LC1175.java
  leetcode/2medium/2medium.iml
  leetcode/2medium/김용성/LC1513.java
  leetcode/2medium/김용성/LC1513Test.java
Labels: #2 성공, #1 성공, #3 실패, Lang: Java/Kotlin

#916 [조유리] Day38
  leetcode/1easy/조유리/LC_1175.java
  leetcode/2medium/조유리/LC_1513.java
Labels: #2 성공, #1 성공, #3 실패, Lang: Java/Kotlin

#923 [김용성] DAY39
  leetcode/1easy/김용성/LC661.java
  leetcode/1easy/김용성/LC661Test.java
Labels: #1 성공, #3 실패, #2 실패, Lang: Java/Kotlin

#922 [이경호] Day39
  leetcode/1easy/이경호/661.cpp
Labels: #1 성공, #3 실패, #2 실패, Lang: C/C++

#921 [최원준] Day39
  leetcode/1easy/최원준/Q661.java
  leetcode/2medium/최원준/Q714.java
Labels: #2 성공, #1 성공, #3 실패, Lang: Java/Kotlin

#920 [조유리] Day39
  leetcode/1easy/조유리/LC_661.java
Labels: #1 성공, #3 실패, #2 실패, Lang: Java/Kotlin

#919 [박은비] Day39
  leetcode/1easy/박은비/661.swift
Labels: #1 성공, #3 실패, #2 실패, Lang: Swift

#926 [이경호] Day40
  leetcode/1easy/이경호/1897.cpp
Labels: #1 성공, #3 실패, #2 실패, Lang: C/C++

#925 [최원준] Day40
  leetcode/1easy/최원준/Q1897.java
  leetcode/2medium/최원준/Q2998.java
  leetcode/3hard/최원준/Q3337.java
Labels: #2 성공, #3 성공, #1 성공, Lang: Java/Kotlin

#924 [위성원] Day40
  leetcode/1easy/위성원/1897.ts
Labels: #1 성공, #3 실패, #2 실패, Lang: JavaScript

#929 [조유리] Day41
  leetcode/1easy/조유리/LC_3069.java
  leetcode/2medium/조유리/LC_873.java
Labels: #1 성공, #3 실패, #2 실패, Lang: Java/Kotlin

#928 [이경호] Day41
  leetcode/1easy/이경호/3069.cpp
Labels: #1 성공, #3 실패, #2 실패, Lang: C/C++

#927 [최원준] Day41
  leetcode/1easy/최원준/Q3069.java
  leetcode/2medium/최원준/Q873.java
Labels: #2 성공, #1 성공, #3 실패, Lang: Java/Kotlin

#931 [최원준] Day42
  leetcode/1easy/최원준/Q3194.java
  leetcode/2medium/최원준/Q2400.java
  leetcode/3hard/최원준/Q3320.java
Labels: #2 성공, #3 성공, #1 성공, Lang: Java/Kotlin

#930 [박은비] Day42
  leetcode/1easy/박은비/3194.swift
Labels: #1 성공, #3 실패, #2 실패, Lang: Swift
